.root {
    -fx-background-image: url("logo.png");
    -fx-background-color: linear-gradient(to right, black, mediumpurple, black);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 10%;
}

#label {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(red, darkred);
}

.text-field {
    -fx-background-color: linear-gradient(to right, purple, mediumpurple);
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.password-field {
    -fx-background-color: linear-gradient(to right, purple, mediumpurple);
}


.button {
    -fx-background-color: linear-gradient(black, purple);
    -fx-text-fill: white;
    -fx-border-color: linear-gradient(to right, yellow, darkred);
}

.check-box {
    -fx-font-size: 11;
    -fx-font-family: "DejaVu Sans Light";
}

#registration {
    -fx-background-color: linear-gradient(to right, black, mediumpurple);
}

#login {
    -fx-background-color: linear-gradient(to right, black, mediumpurple);
}

#wrong {
    -fx-border-color: red;
    -fx-background-color: linear-gradient(to right, black, mediumpurple);
    -fx-text-fill: white;
}